html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.login__layout {
  height: 100vh;
  background: url("../../images/landscape.jpg") center no-repeat #1a1a1d;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  position: relative;
}

.joinInnerContainer {
  width: 30%;
}

.no-auth-warn {
  color: white;
  text-align: left;
  margin-bottom: 10px;
}

.join-input {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

.logout {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  width: 50%;
  display: inline-block;
}

@media (min-width: 481px) and (max-width: 991px) {
  .joinInnerContainer {
    width: 40%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
